<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Willy Romero</title>
</head>

<body>
    <div class="todo">
    <div class="conteinerPerfil">

        <div class="perfil">
            <div class="fotoCV">
                <img class="foto" src="/images/WillyCV.jpg" alt="Foto de perfil: Willy Romero">
                <h1>WILLY <br> ROMERO</h1>
            </div>
        </div>
        <div class="cuerpoDatos">

            <div class="detallesPerfil">
                <a href="tel:+59898806361">
                    <div class="fila">
                        <img class="iconoPerfil" src="/images/llamar.png"
                            alt="icono de celular">
                        <div class="detalleIcono">(+598) 98 806 361</div>
                    </div>
                </a>

                <a href="mailto:willyromero1@gmail.com">
                    <div class="fila">
                        <img class="iconoPerfil" src="/images/email.png"
                            alt="icono de mail">
                        <div class="detalleIcono">willyromero1@gmail.com</div>
                    </div>
                </a>

                <a href="https://github.com/Guasonwrg/">
                    <div class="fila">
                        <img class="iconoPerfil" src="/images/signo-de-github.png"
                            alt="icono de ithub">
                        <div class="detalleIcono">Guasonwrg</div>
                    </div>
                </a>

            </div>

            <div class="sobreMi">
                <h2>SOBRE MI</h2>
                <hr>
                <p>Soy una persona organizada y con muchas ganas de afrontar nuevos desafios,
                  con capacidad para trabajar en equipo y bajo presión.
                  Me gustaría tener mi primer experiencia en el área de TI para la cual me estoy preparando academicamente
                  en la actualidad. 
                </p>

                <ul>
                    <li>Responsabilidad</li>
                    <li>Trabajo en equipo</li>
                    <li>Resolución de problemas</li>
                    <li>Disponibilidad horaria</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cuerpoDetalles">

        <div class="panelIzquierdo">

            <div class="seccion">
            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/images/sombrero-de-la-graduacion.png"
                        alt="icono de educación">
                    <p class="nombreSeccion"> EDUCACIÓN</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>UTEC</b></p>
                <p class="texDetalle"><b>Licenciatura</b> <br> Tecn. de la Información</p>
                <p class="estado"> Cursando 4° semestre </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>FCEA</b></p>
                <p class="texDetalle"><b>Contador Público</b> <br> 1° semestre</p>
                <p class="estado">  </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>UTU Sauce</b></p>
                <p class="texDetalle"><b>EMP</b> <br> Adm. de empresas</p>
                <p class="estado"></p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Liceo de Sauce</b></p>
                <p class="texDetalle"><b>Bachillerato</b> <br>Humanistico, Economía</p>
                <p class="estado">  </p>
            </div>
        </div>

        <div class="seccion">
            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/images/bolsa.png"
                        alt="icono de experiencia laboral">
                    <p class="nombreSeccion"> EXP. LABORAL</p>
                </div>
            </div>
                <div class="lista">
                    <p class="texLugar"><b>Operario <br>Clausen</b></p>
                    <p class="texDetalle"> 
                        Acondicinamiento de productos terminados<br>
                        12/2010 - 10/2012
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            <div class="lista">
                <p class="texLugar"><b>HRU Codere</b></p>
                <p class="texDetalle"> 
                    Operador de CCTV <br>
                    10/2013 - 12/2018
                </p>
            </div>
            <div class="lista">
              <p class="texLugar"><b>Casinos del Estado</b></p>
              <p class="texDetalle"> 
                  Fiscal III Z <br>
                  12/2018 - actualidad
              </p>
          </div>
        </div>
        </div>

        


        <div class="panelDerecho">
            <div class="seccion">

            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/images/notebook.png"
                        alt="icono de cursos">
                    <p class="nombreSeccion"> CURSOS</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Taller de Informática</b></p>
                <p class="texDetalle">Técnico en reparación y mantenimiento de PC</p>
                <p class="estado"> Completo </p>
            </div>
        </div>

            <div class="seccion">
             <div class="titulo">
                    <div class="paralelogramo"></div>
                    <div class="filaAlgo">
                        <img class="iconoDetalle" src="/images/idiomas.png"
                            alt="icono de idiomas">
                        <p class="nombreSeccion"> IDIOMAS</p>
                    </div>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Español</b></p>
                    <p class="texDetalle">Nativo</p>
                    <p class="estado">  </p>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Inglés </b></p>
                    <p class="texDetalle">B1</p>
                    <p class="estado">  </p>
                </div>
            </div>

            <div class="seccion">
                <div class="tituloExtra">
                    <div class="paralelogramo"></div>
                    <div class="filaAlgo">
                      <img class="iconoDetalle" src="/images/trabajo-en-equipo.png"
                            alt="icono de idiomas">
                        <p class="nombreSeccionExtra"> REFERENCIAS</p>
                    </div>
                </div>
                <div class="fila">
                  <img class="iconoPerfil" src="/images/llamar.png"
                      alt="icono de celular">
                  <div class="detalleRef"><a href="tel:+59898806361" class="llamar"> Emidio Tassone (+598) 99 321 146</a></div>
              </div>
              <div class="fila">
                <img class="iconoPerfil" src="/images/llamar.png"
                    alt="icono de celular">
                <div class="detalleRef"><a href="tel:+59899430966" class="llamar"> Victor Pruedente (+598) 99 430 966</a></div>
            </div>
            <div class="fila">
              <img class="iconoPerfil" src="/images/llamar.png"
                  alt="icono de celular">
              <div class="detalleRef"><a href="tel:+59899571317" class="llamar"> Emiliano Colla (+598) 99 571 317</a></div>
          </div>
            <a href="/download/W.Romero.pdf" download="CV - W.Romero.pdf">
                <button><b>Descargar CV</b></button>
            </a>
        </div>
        
    </div>
    </div>

    </div>
</div>
</body>

</html>